

<!DOCTYPE html>
<html>
    <head>
        <title>회사소개</title>
    </head>

    <body>
        <h1>회사소개</h1>
        <div>
            회사명:<%=company%><br/>
            대표:<%=ceo%><br/>
            전화번호:<%=telephone%>
        </div>
    </body>
</html>